{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {

        /**
         * Validate the form
         */
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                },
                checkPassword: {
                    equalTo: '#inputPassword'
                }
            },
            messages: {
                name: {
                    required: 'To pole jest wymagane'
                },
                email: {
                    required: 'Wprowadź email',
                    email: 'Wprowadź poprawny adres',
                    remote: 'Email zajęty'
                },
                password: {
                    required: 'Wprowadź hasło',
                    minlength: 'Musi zawierać co najmniej 6 znaków'
                },
                checkPassword: {
                    required: 'Potwierdź hasło',
                    equalTo: 'Hasła muszą być takie same'
                }
            }
        });
    });
</script>

{% endblock %}

{% block body %}

<div class=" row align-middle">
    <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 loginPanel p-1 pt-3 mb-3 mx-auto">

        <form method="post" action="/signup/create" id="formSignup">
            <div
                class="row text-center justify-content-center border rounded-3 shadow bg-success p-4 text-dark bg-opacity-10">
                <div class="row">
                    <h3>Załóż konto</h3>
                </div>
                <div class="row">
                    <div class="input-group my-2">
                        <span class="input-group-text bi bi-person" id="basic-addon1"></span>
                        <label for="name" class="form-label"></label>
                        <input type="text" id="inputName" name="name" class="form-control" placeholder="Imię"
                            value="{{ user.name }}" aria-label="Name" aria-describedby="basic-addon1" required>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group my-2">
                        <span class="input-group-text bi bi-envelope" id="basic-addon1"></span>
                        <label for="email" class="form-label"></label>
                        <input id="inputEmail" type="email" name="email" class="form-control" placeholder="Email"
                            value="{{ user.email }}" aria-label=" Email" aria-describedby="basic-addon1" required>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group my-2">
                        <span class="input-group-text bi bi-lock" id="basic-addon1"></span>
                        <label for="password" class="form-label"></label>
                        <input type="password" id="inputPassword" name="password" class="form-control"
                            aria-describedby="passwordHelp" placeholder="Hasło" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group my-2">
                        <span class="input-group-text bi bi-lock" id="basic-addon1"></span>
                        <label for="checkPassword" class="form-label"></label>
                        <input type="password" name="checkPassword" class="form-control" id="checkPassword"
                            aria-describedby="passwordHelp" placeholder="Potwierdź hasło" required>
                    </div>
                </div>
                <div class="row">
                    {% if user.errors is not empty %}
                    <ul class="text-danger text-start">
                        {% for error in user.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="input-group mb-3 w-50 mx-auto justify-content-center">
                    <button type="submit" class="btn btn-primary mt-3 rounded-pill">Rejestracja</button>
                </div>
                <footer class="mt-3">Masz już konto? <a href="/login/new">Zaloguj się</a></footer>

        </form>
    </div>
</div>
{% endblock %}