body {
    background-image: linear-gradient(rgba(251, 255, 255, 0.5), rgba(143, 143, 76, 0.5));
    background-attachment: fixed;
    background-size: cover;
    background-position: 14% 84%;
}

.active {
    background-color: #cfccc0;
    color: green;
}

textarea {
    resize: none;
}

.error {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

#table_detail {
    text-align: center;
    border-collapse: collapse;
    background-color: #ffffffe5;
    color: #2E2E2E;
    border: #A4A4A4;
}

#table_detail thead tr:hover {
    background-color: unset;
}

#table_detail tr.hiddenRow {
    text-align: left;
    background-color: #ccccce;
}

#table_detail tr:hover {
    background-color: #f2f2f2;
}

#table_detail tr.hiddenRow:hover {
    text-align: left;
    background-color: #cad3dd;
}

.mainRow td {
    cursor: pointer;
}