{% extends 'logged.html' %}

{% block title %}Balance{% endblock %}

{% block body %}

<h1 class="text-center">Bilans</h1>

<div class="container">
    <div class="balance_panel mb-4">
        <div class="select_balance">
            <div class="balance_content d-flex flex-wrap justify-content-center">
                <form method="POST" id="myForm" name="myForm">
                    <select class="d-flex mt-3 align-self-center mx-auto text-center rounded-pill p-1" name="balance"
                        id="time_option">
                        <option value="current_month">
                            <!-- <?php if (isset($_POST['balance']) &&
                            $_POST['balance']=='current_month' ) { echo 'selected= "selected"' ; } ?>>-->Bieżący
                            miesiąc
                        </option>
                        <option value="previous_month">
                            <!-- <?php if (isset($_POST['balance']) &&
                            $_POST['balance']=='previous_month' ) { echo 'selected= "selected"' ; } ?>>-->Poprzedni
                            miesiąc
                        </option>
                        <option value="current_year">
                            <!--<?php if (isset($_POST['balance']) &&
                            $_POST['balance']=='current_year' ) { echo 'selected= "selected"' ; } ?>>-->Bieżący rok
                        </option>
                        <option value="undenify">
                            <!-- <?php if (isset($_POST['balance']) && $_POST['balance']=='undenify' ) {
                            echo 'selected= "selected"' ; } ?>> -->
                            Niestandardowy
                        </option>
                    </select>
                    <div id="choose_date">
                        <div class="input-group justify-content-between">
                            <div
                                class=" col-10 col-sm-8 col-md-6 col-lg-5 mx-2 my-2 d-flex flex-column align-self-center">
                                <label for="begin_date">Data początkowa</label>
                                <input type="date" class="rounded-pill p-1 text-center" name="begin_date"
                                    id="begin_date">
                            </div>
                            <div
                                class=" col-10 col-sm-8 col-md-6 col-lg-5 mx-2 my-2 d-flex flex-column align-self-center">
                                <label for="end_date">Data końcowa</label>
                                <input type="date" class="rounded-pill p-1 text-center" name="end_date" id="end_date">
                            </div>
                        </div>

                    </div>
                    <!-- <?php
                    if (isset($_POST['balance'])) {
                        $state = $_POST['balance'];
                    } else {
                        $begin_date = $begin_of_current_month;
                        $end_date = $end_of_current_month;
                        $state = "current_month";
                    }

                    switch ($state) {
                        case "current_month":
                            $begin_date = $begin_of_current_month;
                            $end_date = $end_of_current_month;
                            break;
                        case "previous_month":
                            $begin_date = $begin_of_previous_month;
                            $end_date = $end_of_previous_month;
                            break;
                        case "current_year":
                            $begin_date = $begin_of_current_year;
                            $end_date = $end_of_current_year;
                            break;
                        case "undenify":
                            $begin_date = $_POST['begin_date'];
                            $end_date = $_POST['end_date'];

                            break;
                        default:
                            break;
                    }
                    ?> -->
                </form>
            </div>
            <!-- Wykresy -->
            <div class="row d-flex flex-wrap">
                <table class="charts text-center">
                    <tr>
                        <!-- <div id="income_chart" class="col-10 col-md-6 mx-auto" style=" height:30em;"></div>
                        <div id="expense_chart" class="col-10 col-md-6 mx-auto" style=" height:30em;"></div> -->
                    </tr>
                </table>
            </div>
            <!-- /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/- -->

            <div id="wrapper" class="show_balance">
                <div class="row text-center col-4 mx-auto">
                    <!-- Wartość TOTAL z danego okresu rozliczeniowego -->
                    <!-- <?php
                    $get_income_data = $db->prepare("SELECT SUM(amount) AS incomes FROM incomes WHERE user_id='$user_id' and date_of_income between '$begin_date' and '$end_date'");
                    $get_income_data->execute();
                    $income_row = $get_income_data->fetch(PDO::FETCH_ASSOC);

                    $get_expense_data = $db->prepare("SELECT SUM(amount) AS expenses FROM expenses WHERE user_id='$user_id' and date_of_expense between '$begin_date' and '$end_date'");
                    $get_expense_data->execute();
                    $expense_row = $get_expense_data->fetch(PDO::FETCH_ASSOC);

                    $month_balance = $income_row['incomes'] - $expense_row['expenses'];
                    ?> -->
                    <!-- <h3 <?php if ($month_balance < 0) { echo 'class= "text-center text-danger"' ; } else {
                        echo 'class= "text-center text-success"' ; } ?>>
                        <?php echo "Total: " . $month_balance . " zł";
                                ?> -->
                    </h3>
                    <!-- /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/- -->
                    <!-- Tabele z historią trasankcji SQL -->
                    <h2 class="mt-4 w-30">Historia transakcji</h2>
                </div>
                <div class="row text-center">
                    <div class="col-8 col-sm-6 col-md-5 col-lg-4 mx-auto">
                        <div class="income_balance">
                            <div class='h2'>Przychody</div>

                            <table id="table_detail" class='table table-bordered table-striped'>
                                <thead>
                                    <tr>
                                        <th>Wartość PLN</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                {% for income in incomesData %}
                                <tr id="main_table_row">
                                    <td>{{income.amount}}</td>
                                    <td>{{income.date_of_income}}</td>
                                </tr>
                                <tr class="hidden_tr">
                                    <td colspan=2>
                                        <p>
                                            Kategoria: {{income.name}}
                                            <br>
                                            {% if income.income_comment is not empty %}
                                            Uwagi: {{income.income_comment}}
                                        </p>
                                    </td>
                                    {% else %}
                                    </p>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5 col-lg-4 mx-auto">
                        <div class="expense_balance">
                            <div class='h2'>Wydatki</div>
                            <table id="table_detail" class='table table-bordered table-striped'>
                                <thead>
                                    <tr>
                                        <th>Wartość PLN</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                {% for expense in expensesData %}
                                <tr id="main_table_row">
                                    <td>{{expense.name}}</td>
                                    <td>{{expense.date_of_expense}}</td>
                                </tr>
                                <tr class="hidden_tr">
                                    <td colspan=2>
                                        <p>
                                            Kategoria: {{expense.name}}
                                            <br>
                                            {% if expense.expense is not empty %}
                                            Uwagi: {{expense.expense_comment}}
                                        </p>
                                    </td>
                                    {% else %}
                                    </p>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}