{% extends 'logged.html' %}

{% block title %}Balance{% endblock %}

{% block body %}

<h1 class="text-center">Bilans</h1>

<div class="container">
    <div class="balance_panel mb-4">
        <div class="select_balance">
            <div class="balance_content d-flex flex-wrap justify-content-center">
                <form method="POST" id="myForm" name="myForm">
                    <select class="d-flex mt-3 align-self-center mx-auto text-center rounded-pill p-1" name="balance"
                        id="time_option">
                        <option value="current_month">
                            <!-- <?php if (isset($_POST['balance']) &&
                            $_POST['balance']=='current_month' ) { echo 'selected= "selected"' ; } ?>>-->Bieżący
                            miesiąc
                        </option>
                        <option value="previous_month">
                            <!-- <?php if (isset($_POST['balance']) &&
                            $_POST['balance']=='previous_month' ) { echo 'selected= "selected"' ; } ?>>-->Poprzedni
                            miesiąc
                        </option>
                        <option value="current_year">
                            <!--<?php if (isset($_POST['balance']) &&
                            $_POST['balance']=='current_year' ) { echo 'selected= "selected"' ; } ?>>-->Bieżący rok
                        </option>
                        <option value="undenify">
                            <!-- <?php if (isset($_POST['balance']) && $_POST['balance']=='undenify' ) {
                            echo 'selected= "selected"' ; } ?>> -->
                            Niestandardowy
                        </option>
                    </select>
                    <div id="choose_date">
                        <div class="input-group justify-content-between">
                            <div
                                class=" col-10 col-sm-8 col-md-6 col-lg-5 mx-2 my-2 d-flex flex-column align-self-center">
                                <label for="begin_date">Data początkowa</label>
                                <input type="date" class="rounded-pill p-1 text-center" name="begin_date"
                                    id="begin_date" onChange="form.submit()">
                            </div>
                            <div
                                class=" col-10 col-sm-8 col-md-6 col-lg-5 mx-2 my-2 d-flex flex-column align-self-center">
                                <label for="end_date">Data końcowa</label>
                                <input type="date" class="rounded-pill p-1 text-center" name="end_date" id="end_date"
                                    onChange="form.submit()">
                            </div>
                        </div>

                    </div>
                    <!-- <?php
                    if (isset($_POST['balance'])) {
                        $state = $_POST['balance'];
                    } else {
                        $begin_date = $begin_of_current_month;
                        $end_date = $end_of_current_month;
                        $state = "current_month";
                    }

                    switch ($state) {
                        case "current_month":
                            $begin_date = $begin_of_current_month;
                            $end_date = $end_of_current_month;
                            break;
                        case "previous_month":
                            $begin_date = $begin_of_previous_month;
                            $end_date = $end_of_previous_month;
                            break;
                        case "current_year":
                            $begin_date = $begin_of_current_year;
                            $end_date = $end_of_current_year;
                            break;
                        case "undenify":
                            $begin_date = $_POST['begin_date'];
                            $end_date = $_POST['end_date'];

                            break;
                        default:
                            break;
                    }
                    ?> -->
                </form>
            </div>
            <!-- Wykresy -->
            <div class="row d-flex flex-wrap">
                <table class="charts text-center">
                    <tr>
                        <!-- <div id="income_chart" class="col-10 col-md-6 mx-auto" style=" height:30em;"></div>
                        <div id="expense_chart" class="col-10 col-md-6 mx-auto" style=" height:30em;"></div> -->
                    </tr>
                </table>
            </div>
            <!-- /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/- -->

            <div id="wrapper" class="show_balance">
                <div class="row text-center col-4 mx-auto">
                    <!-- Wartość TOTAL z danego okresu rozliczeniowego -->
                    <!-- <?php
                    $get_income_data = $db->prepare("SELECT SUM(amount) AS incomes FROM incomes WHERE user_id='$user_id' and date_of_income between '$begin_date' and '$end_date'");
                    $get_income_data->execute();
                    $income_row = $get_income_data->fetch(PDO::FETCH_ASSOC);

                    $get_expense_data = $db->prepare("SELECT SUM(amount) AS expenses FROM expenses WHERE user_id='$user_id' and date_of_expense between '$begin_date' and '$end_date'");
                    $get_expense_data->execute();
                    $expense_row = $get_expense_data->fetch(PDO::FETCH_ASSOC);

                    $month_balance = $income_row['incomes'] - $expense_row['expenses'];
                    ?> -->
                    <!-- <h3 <?php if ($month_balance < 0) { echo 'class= "text-center text-danger"' ; } else {
                        echo 'class= "text-center text-success"' ; } ?>>
                        <?php echo "Total: " . $month_balance . " zł";
                                ?> -->
                    </h3>
                    <!-- /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/- -->
                    <!-- Tabele z historią trasankcji SQL -->
                    <h2 class="mt-4 w-30">Historia transakcji</h2>
                </div>
                <div class="row text-center">
                    <div class="col-8 col-sm-6 col-md-5 col-lg-4 mx-auto">
                        <div class="income_balance">
                            <div class='h2'>Przychody</div>
                            <table id="table_detail" class='table table-bordered table-striped'>
                                <thead>
                                    <tr>
                                        <th>Wartość PLN</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <!-- <?php
                                $get_income_data = $db->prepare("SELECT * FROM incomes WHERE user_id='$user_id' and date_of_income between '$begin_date' and '$end_date' ORDER BY date_of_income ASC");
                                $get_income_data->execute();
                                while ($income_result = $get_income_data->fetch(PDO::FETCH_ASSOC)) {
                                    $income_category_id = $income_result['income_category_assigned_to_user_id'];
                                    $get_income_cat = $db->prepare("SELECT name FROM incomes_category_assigned_to_users WHERE id=$income_category_id");
                                    $get_income_cat->execute();
                                    $income_cat_result = $get_income_cat->fetch(PDO::FETCH_ASSOC);
                                ?> -->
                                <tr id="main_table_row">
                                    {% for income in incomesData}
                                    <td>{{income.amount}}</td>
                                    <td>{{income.date_of_income}}</td>

                                    <!-- <?php
                                        echo "<td>" . $income_result['amount'] . "</td>";
                                        echo "<td>" . $income_result['date_of_income'] . "</td>";
                                        ?> -->
                                </tr>
                                <tr class="hidden_tr">
                                    <td colspan=2>
                                        <p>
                                            Kategoria: {{income.cat}}
                                            {% if {{income.income_comment}} != ""}
                                            Uwagi: {{income.comment}}
                                        </p>
                                    </td>
                                    {% else %}
                                    </p>
                                    </td>
                                    {% endif %}
                                    {% endfor %}
                                    <!-- <?php
                                        echo "<td colspan=2><p>" . "Kategoria: " . $income_cat_result['name'];
                                        if ($income_result['income_comment'] != "") {
                                            echo "<br> Uwagi: " . $income_result['income_comment'] . "</p></td>";
                                        } else {
                                            echo "</p></td>";
                                        }
                                        ?> -->
                                </tr>
                                <!-- <?php
                                }
                                ?> -->
                            </table>
                        </div>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5 col-lg-4 mx-auto">
                        <div class="expense_balance">
                            <div class='h2'>Wydatki</div>
                            <table id="table_detail" class='table table-bordered table-striped'>
                                <thead>
                                    <tr>
                                        <th>Wartość PLN</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <!-- <?php
                                $get_expense_data = $db->prepare("SELECT * FROM expenses WHERE user_id='$user_id' and date_of_expense between '$begin_date' and '$end_date' ORDER BY date_of_expense ASC");
                                $get_expense_data->execute();
                                while ($expense_result = $get_expense_data->fetch(PDO::FETCH_ASSOC)) {
                                    $expense_category_id = $expense_result['expense_category_assigned_to_user_id'];
                                    $get_expense_cat = $db->prepare("SELECT name FROM expenses_category_assigned_to_users WHERE id=$expense_category_id");
                                    $get_expense_cat->execute();
                                    $expense_cat_result = $get_expense_cat->fetch(PDO::FETCH_ASSOC);
                                    $payment_method_id = $expense_result['payment_method_assigned_to_user_id'];
                                    $get_payment_id = $db->prepare("SELECT name FROM payment_methods_assigned_to_users WHERE id='$payment_method_id'");
                                    $get_payment_id->execute();
                                    $payment_id_result = $get_payment_id->fetch(PDO::FETCH_ASSOC);

                                ?> -->
                                <tr id="main_table_row">
                                    <!-- <?php
                                        echo "<td>" . $expense_result['amount'] . "</td>";
                                        echo "<td>" . $expense_result['date_of_expense'] . "</td>";
                                        ?> -->
                                </tr>
                                <tr class="hidden_tr">
                                    <!-- <?php
                                        echo "<td colspan=2><p>" . "Kategoria: " . $expense_cat_result['name'] . "<br>";
                                        echo "Metoda: " . $payment_id_result['name'];
                                        if ($expense_result['expense_comment'] != "") {
                                            echo "<br> Uwagi: " . $expense_result['expense_comment'] . "</p></td>";
                                        } else {
                                            echo "</p></td>";
                                        }
                                        ?> -->
                                </tr>
                                <!-- <?php
                                }
                                ?> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}