{% extends 'logged.html' %}

{% block title %}Balance{% endblock %}

{% block body %}

{% block footer %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawIncomeChart);
    google.setOnLoadCallback(drawExpenseChart);

    function drawIncomeChart() {
        const incomeChartData = google.visualization.arrayToDataTable([
            ['Kategoria przychodów', 'Suma przychodów', {
                role: 'annotation'
            }],

            {% for income in incomesChartData %}
    ['{{income.name}}', {{ income.incomeSum }}, '{{income.incomeSum}}'],
        {% endfor %}
                    ]);
    const incomeChartOption = {
        title: 'Analiza przychodów',
        titlePosition: 'out',
        legend: {
            position: 'none',
        },
        hAxis: {
            textPosition: 'none'
        },
        backgroundColor: 'transparent'
    };

    const incomeChart = new google.visualization.BarChart(document.getElementById('incomeChart'));
    incomeChart.draw(incomeChartData, incomeChartOptions);
        }

    function drawExpenseChart() {
        let expenseChartData = google.visualization.arrayToDataTable([
            ['Kategoria wydatków', 'Suma wydatków', {
                role: 'annotation'
            }],
            {% for expense in expensesChartData %}
    ['{{expense.name}}', {{ expense.expenseSum }}, '{{expense.expenseSum}}'],
        {% endfor %}
                ]);

    let expenseChartOptions = {
        title: 'Analiza wydatków',
        titlePosition: 'out',
        legend: {
            position: 'none',
        },
        hAxis: {
            direction: -1,
            textPosition: 'none'
        },
        backgroundColor: 'transparent'
    };

    let expenseChart = new google.visualization.BarChart(document.getElementById('expenseChart'));
    expenseChart.draw(expenseChartData, expenseChartOptions);
        }
</script>
<script>
    $("#periodForm").submit(function (e) {
        e.preventDefault();
    });
</script>
<script>
    // Skrypt, który ma za zadanie pokazać div'a z wkyborem daty jedynie przy wybranej funkcji 'Niestandardowy'
    // Niestety nie działa.
    $("#periodForm").ready(function () {
        if ($(this).val() != "undenify") {
            $('#undenifyDate').hide();
        } else {
            $('#undenifyDate').show();
        }
    });
</script>
{% endblock %}

<h1 class="text-center">Bilans</h1>

<div id="wrapper" class="show_balance">
    <div class="row text-center col-4 mx-auto">
        <!-- Wartość TOTAL z danego okresu rozliczeniowego -->
        <!-- $month_balance = $income_row['incomes'] - $expense_row['expenses']; -->
        <!-- <h3 
                        <?php if ($month_balance < 0) { echo 'class= "text-center text-danger"' ; } else {
                        echo 'class= "text-center text-success"' ; } ?>>
                        <?php echo "Total: " . $month_balance . " zł";
                                ?>
                    </h3> -->
        <h2 class="mt-4 w-30">Historia transakcji</h2>
    </div>
    <div class="row text-center">
        <div class="col-8 col-sm-6 col-md-5 col-lg-4 mx-auto">
            <div class="income_balance">
                <div class='h2'>Przychody</div>
                <table id="table_detail" class='table table-bordered table-striped'>
                    <thead>
                        <tr>
                            <th>Wartość PLN</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    {% set totalIncome = 0 %}
                    {% for income in incomesData %}
                    {% set totalIncome = totalIncome + income.amount %}
                    <tr id="main_table_row">
                        <td>{{income.amount}}</td>
                        <td>{{income.date_of_income}}</td>
                    </tr>
                    <tr class="hidden_tr">
                        <td colspan=2>
                            <p>
                                Kategoria: {{income.name}}
                                <br>
                                {% if income.income_comment is not empty %}
                                Uwagi: {{income.income_comment}}
                            </p>
                        </td>
                        {% else %}
                        </p>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-8 col-sm-6 col-md-5 col-lg-4 mx-auto">
            <div class="expense_balance">
                <div class='h2'>Wydatki</div>
                <table id="table_detail" class='table table-bordered table-striped'>
                    <thead>
                        <tr>
                            <th>Wartość PLN</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    {% set totalExpense = 0 %}
                    {% for expense in expensesData %}
                    {% set totalExpense = totalExpense + expense.amount %}
                    <tr id="main_table_row">
                        <td>{{expense.amount}}</td>
                        <td>{{expense.date_of_expense}}</td>
                    </tr>
                    <tr class="hidden_tr">
                        <td colspan=2>
                            <p>
                                Kategoria: {{expense.expense_cat}}
                                <br>
                                Metoda płatności: {{expense.payment_method}}
                                <br>
                                {% if expense.expense is not empty %}
                                Uwagi: {{expense.expense_comment}}
                            </p>
                        </td>
                        {% else %}
                        </p>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% set balance = totalIncome - totalExpense %}
        <h2>{{balance}} PLN</h2>

    </div>

</div>

</div>
</div>




{% endblock %}

{% block balanceCharts %}
<div class="container">
    <div class="balance_panel mb-4">
        <div class="select_balance">
            <div class="balance_content d-flex flex-wrap justify-content-center">
                <form action="/items/balance" method="POST" id="periodForm" name="periodForm">
                    <select class="d-flex mt-3 align-self-center mx-auto text-center
                        rounded-pill p-1" name="balanceDateOption" id="dateOption" onChange="form.submit()">
                        <option value="currentMonth">Bieżący miesiąc</option>
                        <option selected value="previousMonth">Poprzedni miesiąc</option>
                        <option value="currentYear">Bieżący rok</option>
                        <option value="undenify">Niestandardowy</option>
                    </select>
                    <div name="undenifyDate" id="undenifyDate">
                        <div class="input-group justify-content-between">
                            <div
                                class=" col-10 col-sm-8 col-md-6 col-lg-5 mx-2 my-2 d-flex flex-column align-self-center">
                                <label for="postBeginDate">Data początkowa</label>
                                <input type="date" class="rounded-pill p-1 text-center" name="postBeginDate"
                                    id="postBeginDate"
                                    value="{{ beginDate|date_modify('first day of this month')|date('Y-m-d') }}"
                                    onChange="form.submit()">
                            </div>
                            <div
                                class=" col-10 col-sm-8 col-md-6 col-lg-5 mx-2 my-2 d-flex flex-column align-self-center">
                                <label for="postEndDate">Data końcowa</label>
                                <input type="date" class="rounded-pill p-1 text-center" name="postEndDate"
                                    id="postEndDate" value="{{ now|date('Y-m-d') }}" onChange="form.submit()">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2 w-50 rounded-pill">Zatwierdź</button>
                </form>
            </div>
        </div>
        <div class="row d-flex flex-wrap">
            <table class="charts text-center">
                <tr>
                    <!-- <div id="incomeChart" class="col-10 col-md-6 mx-auto" style=" height:30em;"></div>
                    <div id="expenseChart" class="col-10 col-md-6 mx-auto" style=" height:30em;"></div> -->
                </tr>
            </table>
        </div>
        {% set balance = totalIncome - totalExpense %}
        <h2>{{balance}} PLN</h2>

        {% endblock %}