{% extends 'logged.html' %}

{% block title %}Incomes{% endblock %}

{% block body %}

<h1 class="text-center">Dodaj przychód</h1>
<div class="budget_panel p-2 d-flex justify-content-center ">
    <div class="row col-10 col-sm-10 col-md-8 col-lg-6 col-xlg=6 m-0 p-0  border rounded-3 text-dark">
        <form action="/items/addIncome" method="POST">
            <!-- <?php
            if (isset($_SESSION['successful_submit'])) {
                echo "<div id='hide_message' class='row col-9 p-2 mx-auto my-2 rounded-pill alert alert-success text-center col-3 justify-content-center center' role='alert'> Przychód został poprawnie dodany!</div>";
                unset($_SESSION['successful_submit']);
            }
            ?> -->
            <div class="row w-75 mx-auto my-2 mt-3">
                <label for="income"></label>
                <input type="number" step="0.01" min="0" class="rounded-pill" name="income" placeholder="100,00 zł"
                    required>
            </div>
            <!-- <?php
            if (isset($_SESSION['e_income_value'])) {
                echo '<div class="error">' . $_SESSION['e_income_value'] . '</div>';
                unset($_SESSION['e_income_value']);
            }
            ?> -->
            <div class="row w-75 mx-auto my-2">
                <label for="input_date"></label>
                <input type="date" class="rounded-pill" name="input_date" id="input_date" required>
            </div>
            <div class="row w-75 mx-auto my-2">
                <label for="income_cat"></label>
                <select name="income_cat" id="income_cat" class="rounded-pill">
                    <option disabled selected>Wybierz kategorię przychodu</option>
                    <!-- <?php
                    while ($cat_results = $cat_query->fetch(PDO::FETCH_ASSOC)) {
                        echo "<option value='" . $cat_results['name'] . "''>" . $cat_results['name'] . "</option>";
                    } ?> -->
                </select>
            </div>
            <div class="row w-75 mx-auto my-2">
                <label for="income_comment"></label>
                <textarea name="income_comment" cols="20" rows="5" class="rounded" id="income_comment"
                    placeholder="Uwagi (opcjonalnie)"></textarea>
            </div>
            <div class="row w-75 mx-auto my-2 mb-3">
                <div class="buttons text-center">
                    <button type="submit" class="rounded-pill w-50">Dodaj</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}