{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block nav %}
<a class="nav-link" href="/profile/show"><i class="bi bi-gear"> Ustawienia</i></a>
<a class="nav-link" href="/logout"><i class="bi bi-power"> Wyloguj się</i></a>
{% endblock %}

{% block subnav %}
<div class="row row-cols-1 row-cols-sm-4 navigation-bar text-center justify-content-center h5">
    <div class="col col-sm-3 col-lg-2 col-sm-12 p-1">
        <a href="/home/index" class="nav-link p-3 rounded-4"><i class="bi bi-house"> Home</i></a>
    </div>
    <div class="col col-sm-3 col-lg-2 col-sm-12 p-1">
        <a href="/items/incomes" class="nav-link p-3 rounded-4"><i class="bi bi-cart-plus"> Dodaj
                przychód</i></a>
    </div>
    <div class="col col-sm-3 col-lg-2 col-sm-12 p-1">
        <a href="/items/expenses" class="nav-link p-3 rounded-4"><i class="bi bi-cart-dash"> Dodaj
                wydatek</i></a>
    </div>
    <div class="col col-sm-3 col-lg-2 col-sm-12 p-1">
        <a href="/items/balance" class="nav-link p-3 rounded-4"><i class="bi bi-shuffle"> Pokaż
                bilans</i></a>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="/js/navbar.js"></script>
{% endblock %}