{% extends "logged.html" %}

{% block title %}Edit payment methods{% endblock %}
{% block headscript %}
<script src="/js/settings.js"></script>
{% endblock %}
{% block body %}

<h2 class="text-center my-4">Zarządzaj metodami płatności</h2>
<div class="editPaymentPanel">
    {% for payment in paymentMethods %}
    <div class="editPaymentMethods">
        <div class="d-grip gap-2 row w-50 d-flex py-2 justify-content-center border mx-auto">
            <div class="col-6 align-self-center px-3"><span class="fs-5">{{payment.name}}</span></div>
            <button class="btn btn-outline-info col-2 text-center btn-sm editPaymentMethodButton"
                id="editPaymentMethodButton"><i class="bi bi-pencil"></i> Edytuj</button>
            <button class="btn btn-outline-danger col-2 text-center btn-sm"><i class="bi bi-trash"></i> Usuń</button>
        </div>
        <form class="changePaymentForm">
            <div class="row d-flex w-50 justify-content-start collapse border mx-auto" id="content">
                <div class="input-group my-2">
                    <input type="text" class="form-control  w-25" placeholder="Wprowadź nową nazwę"
                        aria-label="Nowa nazwa" aria-describedby="button-addon2">
                    <button class="btn btn-outline-success" type="button" id="button-addon2">Zmień</button>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
    <div class="addPaymentMethod">
        <div class="d-grip gap-2 row w-50 d-flex py-2 justify-content-center border mx-auto">
            <button class="btn btn-outline-secondary col-10 text-center addPaymentMethodButton"
                id="addPaymentMethodButton"><i class="bi bi-plus"></i> Dodaj nową metodę</button>
        </div>
        <form class="addPaymentMethodForm">
            <div class="row d-flex w-50 justify-content-start collapse border mx-auto" id="content">
                <div class="input-group my-2">
                    <input type="text" class="form-control w-25" placeholder="Wprowadź nazwę metody"
                        aria-label="Nowa nazwa" aria-describedby="button-addon2">
                    <button class="btn btn-outline-success" type="button" id="button-addon2"><i
                            class="bi bi-clipboard-plus"></i> Dodaj</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}