{% extends "logged.html" %}

{% block title %}Edit income categories{% endblock %}
{% block headscript %}
<script>
    $(document).ready(function () {
        $("form").hide();
        $(".editButton").click(function () {
            $(".addCategory:visible").slideUp(300);
            $(".changeForm:visible").not($(this).closest(".editIncomeCategory").find("form")).slideUp(300);
            $(this).closest(".editIncomeCategory").find("form").slideToggle(300);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".addButton").click(function () {
            $(".changeForm:visible").slideUp(300);
            $(this).closest(".addIncomeCategory").find("form").slideToggle(300);
        });
    });
</script>
<!-- <script>
    $(document).on('click', '.checkLimit', function () {
        if ($(this).is(':checked')) {
            $(this).closest(".limitValue").removeClass('disabled').css('pointerEvents', 'none');
        }
        else {
            $(this).closest(".limitValue").addClass('disabled').css('pointerEvents', 'auto');;
        }
    });
</script> -->
<script>
    $(function () {
        $('.checkLimit').change(function () {
            if ($(this).is(':checked')) {
                $(".limitValue").prop('disabled', false);
            } else {
                $(".limitValue").prop('disabled', true);
            }
        });
    });
</script>

{% endblock %}
{% block body %}

<h2 class="text-center my-4">Zarządzaj kategoriami przychodów</h2>
<div class="editPanel">
    {% for category in incomeCategories %}
    <div class="editIncomeCategory">
        <div class="d-grip gap-2 row w-50 d-flex py-2 justify-content-center border mx-auto">
            <div class="col-6 align-self-center px-3"><span class="fs-5">{{category.name}}</span></div>
            <button class="btn btn-outline-info col-2 text-center btn-sm editButton" id="editButton">Edytuj</button>
            <button class="btn btn-outline-danger col-2 text-center btn-sm">Usuń</button>
        </div>
        <form class="changeForm">
            <div class="row d-flex w-50 justify-content-start collapse border mx-auto" id="content">
                <div class="input-group my-2">
                    <input type="text" class="form-control  w-25" placeholder="Wprowadź nową nazwę"
                        aria-label="Nowa nazwa" aria-describedby="button-addon2">
                    <div class="input-group-text form-switch">
                        <label for="checkLimit">Limit </label>
                        <input class="form-check-input mx-1 checkLimit" type="checkbox" role="switch" onClick="toggle()"
                            name="checkLimit" placeholder="Limit" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" class="form-control limitValue" name="limitValue"
                        aria-label="Text input with checkbox" disabled>
                    <button class="btn btn-outline-success" type="button" id="button-addon2">Zatwierdź</button>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
    <div class="addIncomeCategory">
        <div class="d-grip gap-2 row w-50 d-flex py-2 justify-content-center border mx-auto">
            <button class="btn btn-outline-secondary col-10 text-center addButton" id="addButton">+ Dodaj nową
                kategorię</button>
        </div>
        <form class="addCategory">
            <div class="row d-flex w-50 justify-content-start collapse border mx-auto" id="content">
                <div class="input-group my-2">
                    <input type="text" class="form-control w-25" placeholder="Wprowadź nazwę kategorii"
                        aria-label="Nowa nazwa" aria-describedby="button-addon2">
                    <div class="input-group-text form-switch">
                        <label for="checkLimit">Limit </label>
                        <input class="form-check-input mx-1 checkLimit" type="checkbox" role="switch" onClick="toggle()"
                            name="checkLimit" placeholder="Limit" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" class="form-control limitValue" name="limitValue"
                        aria-label="Text input with checkbox" disabled>
                    <button class="btn btn-outline-success" type="button" id="button-addon2">Zatwierdź</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}